BancoSA/src/conf/xml-resources/web-service-references/Servicios/wsdl/192.168.1.13_8080/Servicios/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="ConfirmarCuenta" type="tns:ConfirmarCuenta"/>

<xs:element name="ConfirmarCuentaResponse" type="tns:ConfirmarCuentaResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="RealizarTransaccion" type="tns:RealizarTransaccion"/>

<xs:element name="RealizarTransaccionResponse" type="tns:RealizarTransaccionResponse"/>

<xs:element name="Registro" type="tns:Registro"/>

<xs:element name="RegistroResponse" type="tns:RegistroResponse"/>

<xs:element name="VerInfoCuenta" type="tns:VerInfoCuenta"/>

<xs:element name="VerInfoCuentaResponse" type="tns:VerInfoCuentaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="RealizarTransaccion">
<xs:sequence>
<xs:element name="cuenta" type="xs:int"/>
<xs:element name="monto" type="xs:double"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="idSeguro" type="xs:int"/>
<xs:element name="idPrestamo" type="xs:int"/>
<xs:element name="idTT" type="xs:int"/>
<xs:element name="idCuentaDestino" type="xs:int"/>
<xs:element name="idBanco" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RealizarTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VerInfoCuenta">
<xs:sequence>
<xs:element name="cuenta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VerInfoCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registro">
<xs:sequence>
<xs:element name="DPI" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNac" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmarCuenta">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmarCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>