BancoSA/src/java/META-INF/Servicios.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://192.168.1.13:8080/Servicios/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="Registro">
<part name="parameters" element="tns:Registro"/>
</message>
<message name="RegistroResponse">
<part name="parameters" element="tns:RegistroResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="ConfirmarCuenta">
<part name="parameters" element="tns:ConfirmarCuenta"/>
</message>
<message name="ConfirmarCuentaResponse">
<part name="parameters" element="tns:ConfirmarCuentaResponse"/>
</message>
<message name="RealizarTransaccion">
<part name="parameters" element="tns:RealizarTransaccion"/>
</message>
<message name="RealizarTransaccionResponse">
<part name="parameters" element="tns:RealizarTransaccionResponse"/>
</message>
<message name="VerInfoCuenta">
<part name="parameters" element="tns:VerInfoCuenta"/>
</message>
<message name="VerInfoCuentaResponse">
<part name="parameters" element="tns:VerInfoCuentaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Servicios">
<operation name="Registro">
<input wsam:Action="http://services/Servicios/RegistroRequest" message="tns:Registro"/>
<output wsam:Action="http://services/Servicios/RegistroResponse" message="tns:RegistroResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://services/Servicios/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://services/Servicios/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="ConfirmarCuenta">
<input wsam:Action="http://services/Servicios/ConfirmarCuentaRequest" message="tns:ConfirmarCuenta"/>
<output wsam:Action="http://services/Servicios/ConfirmarCuentaResponse" message="tns:ConfirmarCuentaResponse"/>
</operation>
<operation name="RealizarTransaccion">
<input wsam:Action="http://services/Servicios/RealizarTransaccionRequest" message="tns:RealizarTransaccion"/>
<output wsam:Action="http://services/Servicios/RealizarTransaccionResponse" message="tns:RealizarTransaccionResponse"/>
</operation>
<operation name="VerInfoCuenta">
<input wsam:Action="http://services/Servicios/VerInfoCuentaRequest" message="tns:VerInfoCuenta"/>
<output wsam:Action="http://services/Servicios/VerInfoCuentaResponse" message="tns:VerInfoCuentaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services/Servicios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/Servicios/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Registro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConfirmarCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RealizarTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VerInfoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://192.168.1.13:8080/Servicios/Servicios"/>
</port>
</service>
</definitions>