BancoSA/web/WEB-INF/wsdl/webservice.php.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:webservice">
<types>
<xsd:schema targetNamespace="urn:webservice"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="datosusuario">
  <xsd:all>
   <xsd:element name="nombre" type="xsd:string"/>
   <xsd:element name="apellido" type="xsd:string"/>
   <xsd:element name="direccion" type="xsd:string"/>
   <xsd:element name="email" type="xsd:string"/>
   <xsd:element name="usuario" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="ArrayInt">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:int[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="idCuentas">
  <xsd:all>
   <xsd:element name="cantidad" type="xsd:int"/>
   <xsd:element name="array" type="tns:ArrayInt"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="saldousuario">
  <xsd:all>
   <xsd:element name="saldo" type="xsd:double"/>
   <xsd:element name="msj_respuesta" type="xsd:string"/>
   <xsd:element name="direccion" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="iniciarSesionRequest">
  <part name="usuario" type="xsd:string" />
  <part name="password" type="xsd:string" /></message>
<message name="iniciarSesionResponse">
  <part name="return" type="xsd:string" /></message>
<message name="mostrarDatosRequest">
  <part name="idcliente" type="xsd:int" /></message>
<message name="mostrarDatosResponse">
  <part name="return" type="tns:datosusuario" /></message>
<message name="consultarSaldoRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="idcuenta" type="xsd:int" /></message>
<message name="consultarSaldoResponse">
  <part name="saldo" type="tns:saldousuario" /></message>
<message name="historialRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="idcuenta" type="xsd:int" /></message>
<message name="historialResponse">
  <part name="historial" type="xsd:string" /></message>
<message name="imprimirComprobanteRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="idcuenta" type="xsd:int" />
  <part name="tipo_transaccion" type="xsd:int" /></message>
<message name="imprimirComprobanteResponse">
  <part name="imprimir" type="xsd:string" /></message>
<message name="nuevoClienteRequest">
  <part name="nombre" type="xsd:string" />
  <part name="apellido" type="xsd:string" />
  <part name="direccion" type="xsd:string" />
  <part name="email" type="xsd:string" />
  <part name="usuario" type="xsd:string" />
  <part name="password" type="xsd:string" /></message>
<message name="nuevoClienteResponse">
  <part name="return" type="xsd:string" /></message>
<message name="transaccionCuentasRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="cuenta_origen" type="xsd:int" />
  <part name="cuenta_destino" type="xsd:int" />
  <part name="monto" type="xsd:double" /></message>
<message name="transaccionCuentasResponse">
  <part name="return" type="xsd:string" /></message>
<message name="aperturaCuentaRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="monto" type="xsd:double" /></message>
<message name="aperturaCuentaResponse">
  <part name="result" type="xsd:string" /></message>
<message name="solicitarPrestamoRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="idcuenta_abono" type="xsd:int" />
  <part name="monto" type="xsd:double" />
  <part name="cant_anios" type="xsd:int" />
  <part name="cant_cuotas" type="xsd:int" /></message>
<message name="solicitarPrestamoResponse">
  <part name="result" type="xsd:string" /></message>
<message name="pagarPrestamoRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="idprestamo" type="xsd:int" />
  <part name="fecha" type="xsd:string" /></message>
<message name="pagarPrestamoResponse">
  <part name="result" type="xsd:string" /></message>
<message name="verificarCuentaMontoRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="idcuenta" type="xsd:int" />
  <part name="monto" type="xsd:double" /></message>
<message name="verificarCuentaMontoResponse">
  <part name="result" type="xsd:string" /></message>
<message name="retiroRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="idcuenta" type="xsd:int" />
  <part name="monto" type="xsd:double" /></message>
<message name="retiroResponse">
  <part name="result" type="xsd:string" /></message>
<message name="abonarRequest">
  <part name="idcliente" type="xsd:int" />
  <part name="idcuenta" type="xsd:int" />
  <part name="monto" type="xsd:double" /></message>
<message name="abonarResponse">
  <part name="result" type="xsd:string" /></message>
<message name="listadoCuentasRequest">
  <part name="idcliente" type="xsd:int" /></message>
<message name="listadoCuentasResponse">
  <part name="return" type="tns:ArrayInt" /></message>
<portType name="webservicePortType">
  <operation name="iniciarSesion">
    <documentation>Devuelve informacion del login de un usuario</documentation>
    <input message="tns:iniciarSesionRequest"/>
    <output message="tns:iniciarSesionResponse"/>
  </operation>
  <operation name="mostrarDatos">
    <documentation>Devuelve los datos del usuario</documentation>
    <input message="tns:mostrarDatosRequest"/>
    <output message="tns:mostrarDatosResponse"/>
  </operation>
  <operation name="consultarSaldo">
    <documentation>Devuelve saldo del cliente</documentation>
    <input message="tns:consultarSaldoRequest"/>
    <output message="tns:consultarSaldoResponse"/>
  </operation>
  <operation name="historial">
    <documentation>Devuelve historial del cliente</documentation>
    <input message="tns:historialRequest"/>
    <output message="tns:historialResponse"/>
  </operation>
  <operation name="imprimirComprobante">
    <documentation>Devuelve comprobante de transacciones</documentation>
    <input message="tns:imprimirComprobanteRequest"/>
    <output message="tns:imprimirComprobanteResponse"/>
  </operation>
  <operation name="nuevoCliente">
    <documentation>Devuelve el resultado de la transaccion</documentation>
    <input message="tns:nuevoClienteRequest"/>
    <output message="tns:nuevoClienteResponse"/>
  </operation>
  <operation name="transaccionCuentas">
    <documentation>Devuelve el resultado de la transaccion</documentation>
    <input message="tns:transaccionCuentasRequest"/>
    <output message="tns:transaccionCuentasResponse"/>
  </operation>
  <operation name="aperturaCuenta">
    <documentation>Realiza la apertura de una nueva cuenta</documentation>
    <input message="tns:aperturaCuentaRequest"/>
    <output message="tns:aperturaCuentaResponse"/>
  </operation>
  <operation name="solicitarPrestamo">
    <documentation>Devuelve comprobante de transacciones</documentation>
    <input message="tns:solicitarPrestamoRequest"/>
    <output message="tns:solicitarPrestamoResponse"/>
  </operation>
  <operation name="pagarPrestamo">
    <documentation>Devuelve comprobante de transacciones</documentation>
    <input message="tns:pagarPrestamoRequest"/>
    <output message="tns:pagarPrestamoResponse"/>
  </operation>
  <operation name="verificarCuentaMonto">
    <documentation>Valida si existe la cuenta y el saldo cubre el monto</documentation>
    <input message="tns:verificarCuentaMontoRequest"/>
    <output message="tns:verificarCuentaMontoResponse"/>
  </operation>
  <operation name="retiro">
    <documentation>Retira el monto que fue transferido a la otra cuenta</documentation>
    <input message="tns:retiroRequest"/>
    <output message="tns:retiroResponse"/>
  </operation>
  <operation name="abonar">
    <documentation>Abona el monto que fue transferido a la cuenta</documentation>
    <input message="tns:abonarRequest"/>
    <output message="tns:abonarResponse"/>
  </operation>
  <operation name="listadoCuentas">
    <documentation>Devuelve IDS de las cuentas de un usuario</documentation>
    <input message="tns:listadoCuentasRequest"/>
    <output message="tns:listadoCuentasResponse"/>
  </operation>
</portType>
<binding name="webserviceBinding" type="tns:webservicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="iniciarSesion">
    <soap:operation soapAction="urn:webservice#iniciarSesion" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="mostrarDatos">
    <soap:operation soapAction="urn:webservice#mostrarDatos" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="consultarSaldo">
    <soap:operation soapAction="urn:webservice#consultarSaldo" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="historial">
    <soap:operation soapAction="urn:webservicehistorial" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="imprimirComprobante">
    <soap:operation soapAction="urn:webserviceimprimirComprobante" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="nuevoCliente">
    <soap:operation soapAction="urn:webservicenuevoCliente" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="transaccionCuentas">
    <soap:operation soapAction="urn:webservicetransaccionCuentas" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="aperturaCuenta">
    <soap:operation soapAction="urn:webserviceimprimirComprobante" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="solicitarPrestamo">
    <soap:operation soapAction="urn:webserviceimprimirComprobante" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="pagarPrestamo">
    <soap:operation soapAction="urn:webserviceimprimirComprobante" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="verificarCuentaMonto">
    <soap:operation soapAction="urn:webserviceverificarCuentaMonto" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="retiro">
    <soap:operation soapAction="urn:webserviceretiro" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="abonar">
    <soap:operation soapAction="urn:webserviceabonar" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="listadoCuentas">
    <soap:operation soapAction="urn:webservicelistadoCuentas" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="webservice">
  <port name="webservicePort" binding="tns:webserviceBinding">
    <soap:address location="http://192.168.1.8/phpserver/webservice.php"/>
  </port>
</service>
</definitions>