BancoSA/web/WEB-INF/wsdl/192.168.43.176_8080/Servicios/Servicios3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Servicios3">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://192.168.43.176:8080/Servicios/Servicios3?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getIdTipoTrans">
<part name="parameters" element="tns:getIdTipoTrans"/>
</message>
<message name="getIdTipoTransResponse">
<part name="parameters" element="tns:getIdTipoTransResponse"/>
</message>
<message name="transferirSaldoLocal">
<part name="parameters" element="tns:transferirSaldoLocal"/>
</message>
<message name="transferirSaldoLocalResponse">
<part name="parameters" element="tns:transferirSaldoLocalResponse"/>
</message>
<message name="getTransaccionesCuenta">
<part name="parameters" element="tns:getTransaccionesCuenta"/>
</message>
<message name="getTransaccionesCuentaResponse">
<part name="parameters" element="tns:getTransaccionesCuentaResponse"/>
</message>
<message name="getInfoTransaccion">
<part name="parameters" element="tns:getInfoTransaccion"/>
</message>
<message name="getInfoTransaccionResponse">
<part name="parameters" element="tns:getInfoTransaccionResponse"/>
</message>
<message name="aprobarPrestamo">
<part name="parameters" element="tns:aprobarPrestamo"/>
</message>
<message name="aprobarPrestamoResponse">
<part name="parameters" element="tns:aprobarPrestamoResponse"/>
</message>
<message name="aprobarSeguro">
<part name="parameters" element="tns:aprobarSeguro"/>
</message>
<message name="aprobarSeguroResponse">
<part name="parameters" element="tns:aprobarSeguroResponse"/>
</message>
<message name="getSegurosPorAprobar">
<part name="parameters" element="tns:getSegurosPorAprobar"/>
</message>
<message name="getSegurosPorAprobarResponse">
<part name="parameters" element="tns:getSegurosPorAprobarResponse"/>
</message>
<message name="getPrestamosPorAprobar">
<part name="parameters" element="tns:getPrestamosPorAprobar"/>
</message>
<message name="getPrestamosPorAprobarResponse">
<part name="parameters" element="tns:getPrestamosPorAprobarResponse"/>
</message>
<message name="depositoInicial">
<part name="parameters" element="tns:depositoInicial"/>
</message>
<message name="depositoInicialResponse">
<part name="parameters" element="tns:depositoInicialResponse"/>
</message>
<portType name="Servicios3">
<operation name="hello">
<input wsam:Action="http://services/Servicios3/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/Servicios3/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getIdTipoTrans">
<input wsam:Action="http://services/Servicios3/getIdTipoTransRequest" message="tns:getIdTipoTrans"/>
<output wsam:Action="http://services/Servicios3/getIdTipoTransResponse" message="tns:getIdTipoTransResponse"/>
</operation>
<operation name="transferirSaldoLocal">
<input wsam:Action="http://services/Servicios3/transferirSaldoLocalRequest" message="tns:transferirSaldoLocal"/>
<output wsam:Action="http://services/Servicios3/transferirSaldoLocalResponse" message="tns:transferirSaldoLocalResponse"/>
</operation>
<operation name="getTransaccionesCuenta">
<input wsam:Action="http://services/Servicios3/getTransaccionesCuentaRequest" message="tns:getTransaccionesCuenta"/>
<output wsam:Action="http://services/Servicios3/getTransaccionesCuentaResponse" message="tns:getTransaccionesCuentaResponse"/>
</operation>
<operation name="getInfoTransaccion">
<input wsam:Action="http://services/Servicios3/getInfoTransaccionRequest" message="tns:getInfoTransaccion"/>
<output wsam:Action="http://services/Servicios3/getInfoTransaccionResponse" message="tns:getInfoTransaccionResponse"/>
</operation>
<operation name="aprobarPrestamo">
<input wsam:Action="http://services/Servicios3/aprobarPrestamoRequest" message="tns:aprobarPrestamo"/>
<output wsam:Action="http://services/Servicios3/aprobarPrestamoResponse" message="tns:aprobarPrestamoResponse"/>
</operation>
<operation name="aprobarSeguro">
<input wsam:Action="http://services/Servicios3/aprobarSeguroRequest" message="tns:aprobarSeguro"/>
<output wsam:Action="http://services/Servicios3/aprobarSeguroResponse" message="tns:aprobarSeguroResponse"/>
</operation>
<operation name="getSegurosPorAprobar">
<input wsam:Action="http://services/Servicios3/getSegurosPorAprobarRequest" message="tns:getSegurosPorAprobar"/>
<output wsam:Action="http://services/Servicios3/getSegurosPorAprobarResponse" message="tns:getSegurosPorAprobarResponse"/>
</operation>
<operation name="getPrestamosPorAprobar">
<input wsam:Action="http://services/Servicios3/getPrestamosPorAprobarRequest" message="tns:getPrestamosPorAprobar"/>
<output wsam:Action="http://services/Servicios3/getPrestamosPorAprobarResponse" message="tns:getPrestamosPorAprobarResponse"/>
</operation>
<operation name="depositoInicial">
<input wsam:Action="http://services/Servicios3/depositoInicialRequest" message="tns:depositoInicial"/>
<output wsam:Action="http://services/Servicios3/depositoInicialResponse" message="tns:depositoInicialResponse"/>
</operation>
</portType>
<binding name="Servicios3PortBinding" type="tns:Servicios3">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdTipoTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferirSaldoLocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransaccionesCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfoTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aprobarPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aprobarSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSegurosPorAprobar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrestamosPorAprobar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositoInicial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios3">
<port name="Servicios3Port" binding="tns:Servicios3PortBinding">
<soap:address location="http://192.168.43.176:8080/Servicios/Servicios3"/>
</port>
</service>
</definitions>