BancoSA/web/WEB-INF/wsdl/192.168.43.176_8080/Servicios/Servicios3.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="aprobarPrestamo" type="tns:aprobarPrestamo"/>

<xs:element name="aprobarPrestamoResponse" type="tns:aprobarPrestamoResponse"/>

<xs:element name="aprobarSeguro" type="tns:aprobarSeguro"/>

<xs:element name="aprobarSeguroResponse" type="tns:aprobarSeguroResponse"/>

<xs:element name="depositoInicial" type="tns:depositoInicial"/>

<xs:element name="depositoInicialResponse" type="tns:depositoInicialResponse"/>

<xs:element name="getIdTipoTrans" type="tns:getIdTipoTrans"/>

<xs:element name="getIdTipoTransResponse" type="tns:getIdTipoTransResponse"/>

<xs:element name="getInfoTransaccion" type="tns:getInfoTransaccion"/>

<xs:element name="getInfoTransaccionResponse" type="tns:getInfoTransaccionResponse"/>

<xs:element name="getPrestamosPorAprobar" type="tns:getPrestamosPorAprobar"/>

<xs:element name="getPrestamosPorAprobarResponse" type="tns:getPrestamosPorAprobarResponse"/>

<xs:element name="getSegurosPorAprobar" type="tns:getSegurosPorAprobar"/>

<xs:element name="getSegurosPorAprobarResponse" type="tns:getSegurosPorAprobarResponse"/>

<xs:element name="getTransaccionesCuenta" type="tns:getTransaccionesCuenta"/>

<xs:element name="getTransaccionesCuentaResponse" type="tns:getTransaccionesCuentaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="transferirSaldoLocal" type="tns:transferirSaldoLocal"/>

<xs:element name="transferirSaldoLocalResponse" type="tns:transferirSaldoLocalResponse"/>

<xs:complexType name="getIdTipoTrans">
<xs:sequence>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdTipoTransResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aprobarSeguro">
<xs:sequence>
<xs:element name="idSeguro" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aprobarSeguroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransaccionesCuenta">
<xs:sequence>
<xs:element name="idCuenta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransaccionesCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aprobarPrestamo">
<xs:sequence>
<xs:element name="idPrestamo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aprobarPrestamoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositoInicial">
<xs:sequence>
<xs:element name="idCuenta" type="xs:int"/>
<xs:element name="monto" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositoInicialResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferirSaldoLocal">
<xs:sequence>
<xs:element name="idCuenta" type="xs:int"/>
<xs:element name="idDestino" type="xs:int"/>
<xs:element name="monto" type="xs:double"/>
<xs:element name="idTT" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferirSaldoLocalResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInfoTransaccion">
<xs:sequence>
<xs:element name="idTrans" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInfoTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSegurosPorAprobar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSegurosPorAprobarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPrestamosPorAprobar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPrestamosPorAprobarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>