BancoSA/src/conf/xml-resources/web-service-references/Servicios/wsdl/10.42.0.66_8080/Servicios/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://10.42.0.66:8080/Servicios/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="VerInfoCuenta">
<part name="parameters" element="tns:VerInfoCuenta"/>
</message>
<message name="VerInfoCuentaResponse">
<part name="parameters" element="tns:VerInfoCuentaResponse"/>
</message>
<message name="getIdsTipoSeguro">
<part name="parameters" element="tns:getIdsTipoSeguro"/>
</message>
<message name="getIdsTipoSeguroResponse">
<part name="parameters" element="tns:getIdsTipoSeguroResponse"/>
</message>
<message name="getIdsEstado">
<part name="parameters" element="tns:getIdsEstado"/>
</message>
<message name="getIdsEstadoResponse">
<part name="parameters" element="tns:getIdsEstadoResponse"/>
</message>
<message name="getIdsTipoPrestamo">
<part name="parameters" element="tns:getIdsTipoPrestamo"/>
</message>
<message name="getIdsTipoPrestamoResponse">
<part name="parameters" element="tns:getIdsTipoPrestamoResponse"/>
</message>
<message name="getIdsTipoTrans">
<part name="parameters" element="tns:getIdsTipoTrans"/>
</message>
<message name="getIdsTipoTransResponse">
<part name="parameters" element="tns:getIdsTipoTransResponse"/>
</message>
<message name="getIdsBancos">
<part name="parameters" element="tns:getIdsBancos"/>
</message>
<message name="getIdsBancosResponse">
<part name="parameters" element="tns:getIdsBancosResponse"/>
</message>
<message name="getIdUsuario">
<part name="parameters" element="tns:getIdUsuario"/>
</message>
<message name="getIdUsuarioResponse">
<part name="parameters" element="tns:getIdUsuarioResponse"/>
</message>
<message name="getCuentasUsuario">
<part name="parameters" element="tns:getCuentasUsuario"/>
</message>
<message name="getCuentasUsuarioResponse">
<part name="parameters" element="tns:getCuentasUsuarioResponse"/>
</message>
<message name="crearCuenta">
<part name="parameters" element="tns:crearCuenta"/>
</message>
<message name="crearCuentaResponse">
<part name="parameters" element="tns:crearCuentaResponse"/>
</message>
<message name="solicitarPrestamo">
<part name="parameters" element="tns:solicitarPrestamo"/>
</message>
<message name="solicitarPrestamoResponse">
<part name="parameters" element="tns:solicitarPrestamoResponse"/>
</message>
<message name="solicitarSeguro">
<part name="parameters" element="tns:solicitarSeguro"/>
</message>
<message name="solicitarSeguroResponse">
<part name="parameters" element="tns:solicitarSeguroResponse"/>
</message>
<message name="pagarPrestamo">
<part name="parameters" element="tns:pagarPrestamo"/>
</message>
<message name="pagarPrestamoResponse">
<part name="parameters" element="tns:pagarPrestamoResponse"/>
</message>
<message name="pagarSeguro">
<part name="parameters" element="tns:pagarSeguro"/>
</message>
<message name="pagarSeguroResponse">
<part name="parameters" element="tns:pagarSeguroResponse"/>
</message>
<message name="getInfoPrestamo">
<part name="parameters" element="tns:getInfoPrestamo"/>
</message>
<message name="getInfoPrestamoResponse">
<part name="parameters" element="tns:getInfoPrestamoResponse"/>
</message>
<message name="getInfoSeguro">
<part name="parameters" element="tns:getInfoSeguro"/>
</message>
<message name="getInfoSeguroResponse">
<part name="parameters" element="tns:getInfoSeguroResponse"/>
</message>
<message name="transferirSaldoLocal">
<part name="parameters" element="tns:transferirSaldoLocal"/>
</message>
<message name="transferirSaldoLocalResponse">
<part name="parameters" element="tns:transferirSaldoLocalResponse"/>
</message>
<message name="getTransaccionesCuenta">
<part name="parameters" element="tns:getTransaccionesCuenta"/>
</message>
<message name="getTransaccionesCuentaResponse">
<part name="parameters" element="tns:getTransaccionesCuentaResponse"/>
</message>
<message name="getInfoTransaccion">
<part name="parameters" element="tns:getInfoTransaccion"/>
</message>
<message name="getInfoTransaccionResponse">
<part name="parameters" element="tns:getInfoTransaccionResponse"/>
</message>
<message name="getPrestamosPorAprobar">
<part name="parameters" element="tns:getPrestamosPorAprobar"/>
</message>
<message name="getPrestamosPorAprobarResponse">
<part name="parameters" element="tns:getPrestamosPorAprobarResponse"/>
</message>
<message name="getSegurosPorAprobar">
<part name="parameters" element="tns:getSegurosPorAprobar"/>
</message>
<message name="getSegurosPorAprobarResponse">
<part name="parameters" element="tns:getSegurosPorAprobarResponse"/>
</message>
<message name="aprobarPrestamo">
<part name="parameters" element="tns:aprobarPrestamo"/>
</message>
<message name="aprobarPrestamoResponse">
<part name="parameters" element="tns:aprobarPrestamoResponse"/>
</message>
<message name="aprobarSeguro">
<part name="parameters" element="tns:aprobarSeguro"/>
</message>
<message name="aprobarSeguroResponse">
<part name="parameters" element="tns:aprobarSeguroResponse"/>
</message>
<message name="getIdTipoTrans">
<part name="parameters" element="tns:getIdTipoTrans"/>
</message>
<message name="getIdTipoTransResponse">
<part name="parameters" element="tns:getIdTipoTransResponse"/>
</message>
<message name="depositoInicial">
<part name="parameters" element="tns:depositoInicial"/>
</message>
<message name="depositoInicialResponse">
<part name="parameters" element="tns:depositoInicialResponse"/>
</message>
<message name="getInfoTipoPrestamo">
<part name="parameters" element="tns:getInfoTipoPrestamo"/>
</message>
<message name="getInfoTipoPrestamoResponse">
<part name="parameters" element="tns:getInfoTipoPrestamoResponse"/>
</message>
<message name="getTiposSeguro">
<part name="parameters" element="tns:getTiposSeguro"/>
</message>
<message name="getTiposSeguroResponse">
<part name="parameters" element="tns:getTiposSeguroResponse"/>
</message>
<message name="getDesgloseTipoPrestamo">
<part name="parameters" element="tns:getDesgloseTipoPrestamo"/>
</message>
<message name="getDesgloseTipoPrestamoResponse">
<part name="parameters" element="tns:getDesgloseTipoPrestamoResponse"/>
</message>
<message name="getPrestamosAAprobar">
<part name="parameters" element="tns:getPrestamosAAprobar"/>
</message>
<message name="getPrestamosAAprobarResponse">
<part name="parameters" element="tns:getPrestamosAAprobarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Registro">
<part name="parameters" element="tns:Registro"/>
</message>
<message name="RegistroResponse">
<part name="parameters" element="tns:RegistroResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="ConfirmarCuenta">
<part name="parameters" element="tns:ConfirmarCuenta"/>
</message>
<message name="ConfirmarCuentaResponse">
<part name="parameters" element="tns:ConfirmarCuentaResponse"/>
</message>
<message name="RealizarTransaccion">
<part name="parameters" element="tns:RealizarTransaccion"/>
</message>
<message name="RealizarTransaccionResponse">
<part name="parameters" element="tns:RealizarTransaccionResponse"/>
</message>
<portType name="Servicios">
<operation name="VerInfoCuenta">
<input wsam:Action="http://services/Servicios/VerInfoCuentaRequest" message="tns:VerInfoCuenta"/>
<output wsam:Action="http://services/Servicios/VerInfoCuentaResponse" message="tns:VerInfoCuentaResponse"/>
</operation>
<operation name="getIdsTipoSeguro">
<input wsam:Action="http://services/Servicios/getIdsTipoSeguroRequest" message="tns:getIdsTipoSeguro"/>
<output wsam:Action="http://services/Servicios/getIdsTipoSeguroResponse" message="tns:getIdsTipoSeguroResponse"/>
</operation>
<operation name="getIdsEstado">
<input wsam:Action="http://services/Servicios/getIdsEstadoRequest" message="tns:getIdsEstado"/>
<output wsam:Action="http://services/Servicios/getIdsEstadoResponse" message="tns:getIdsEstadoResponse"/>
</operation>
<operation name="getIdsTipoPrestamo">
<input wsam:Action="http://services/Servicios/getIdsTipoPrestamoRequest" message="tns:getIdsTipoPrestamo"/>
<output wsam:Action="http://services/Servicios/getIdsTipoPrestamoResponse" message="tns:getIdsTipoPrestamoResponse"/>
</operation>
<operation name="getIdsTipoTrans">
<input wsam:Action="http://services/Servicios/getIdsTipoTransRequest" message="tns:getIdsTipoTrans"/>
<output wsam:Action="http://services/Servicios/getIdsTipoTransResponse" message="tns:getIdsTipoTransResponse"/>
</operation>
<operation name="getIdsBancos">
<input wsam:Action="http://services/Servicios/getIdsBancosRequest" message="tns:getIdsBancos"/>
<output wsam:Action="http://services/Servicios/getIdsBancosResponse" message="tns:getIdsBancosResponse"/>
</operation>
<operation name="getIdUsuario">
<input wsam:Action="http://services/Servicios/getIdUsuarioRequest" message="tns:getIdUsuario"/>
<output wsam:Action="http://services/Servicios/getIdUsuarioResponse" message="tns:getIdUsuarioResponse"/>
</operation>
<operation name="getCuentasUsuario">
<input wsam:Action="http://services/Servicios/getCuentasUsuarioRequest" message="tns:getCuentasUsuario"/>
<output wsam:Action="http://services/Servicios/getCuentasUsuarioResponse" message="tns:getCuentasUsuarioResponse"/>
</operation>
<operation name="crearCuenta">
<input wsam:Action="http://services/Servicios/crearCuentaRequest" message="tns:crearCuenta"/>
<output wsam:Action="http://services/Servicios/crearCuentaResponse" message="tns:crearCuentaResponse"/>
</operation>
<operation name="solicitarPrestamo">
<input wsam:Action="http://services/Servicios/solicitarPrestamoRequest" message="tns:solicitarPrestamo"/>
<output wsam:Action="http://services/Servicios/solicitarPrestamoResponse" message="tns:solicitarPrestamoResponse"/>
</operation>
<operation name="solicitarSeguro">
<input wsam:Action="http://services/Servicios/solicitarSeguroRequest" message="tns:solicitarSeguro"/>
<output wsam:Action="http://services/Servicios/solicitarSeguroResponse" message="tns:solicitarSeguroResponse"/>
</operation>
<operation name="pagarPrestamo">
<input wsam:Action="http://services/Servicios/pagarPrestamoRequest" message="tns:pagarPrestamo"/>
<output wsam:Action="http://services/Servicios/pagarPrestamoResponse" message="tns:pagarPrestamoResponse"/>
</operation>
<operation name="pagarSeguro">
<input wsam:Action="http://services/Servicios/pagarSeguroRequest" message="tns:pagarSeguro"/>
<output wsam:Action="http://services/Servicios/pagarSeguroResponse" message="tns:pagarSeguroResponse"/>
</operation>
<operation name="getInfoPrestamo">
<input wsam:Action="http://services/Servicios/getInfoPrestamoRequest" message="tns:getInfoPrestamo"/>
<output wsam:Action="http://services/Servicios/getInfoPrestamoResponse" message="tns:getInfoPrestamoResponse"/>
</operation>
<operation name="getInfoSeguro">
<input wsam:Action="http://services/Servicios/getInfoSeguroRequest" message="tns:getInfoSeguro"/>
<output wsam:Action="http://services/Servicios/getInfoSeguroResponse" message="tns:getInfoSeguroResponse"/>
</operation>
<operation name="transferirSaldoLocal">
<input wsam:Action="http://services/Servicios/transferirSaldoLocalRequest" message="tns:transferirSaldoLocal"/>
<output wsam:Action="http://services/Servicios/transferirSaldoLocalResponse" message="tns:transferirSaldoLocalResponse"/>
</operation>
<operation name="getTransaccionesCuenta">
<input wsam:Action="http://services/Servicios/getTransaccionesCuentaRequest" message="tns:getTransaccionesCuenta"/>
<output wsam:Action="http://services/Servicios/getTransaccionesCuentaResponse" message="tns:getTransaccionesCuentaResponse"/>
</operation>
<operation name="getInfoTransaccion">
<input wsam:Action="http://services/Servicios/getInfoTransaccionRequest" message="tns:getInfoTransaccion"/>
<output wsam:Action="http://services/Servicios/getInfoTransaccionResponse" message="tns:getInfoTransaccionResponse"/>
</operation>
<operation name="getPrestamosPorAprobar">
<input wsam:Action="http://services/Servicios/getPrestamosPorAprobarRequest" message="tns:getPrestamosPorAprobar"/>
<output wsam:Action="http://services/Servicios/getPrestamosPorAprobarResponse" message="tns:getPrestamosPorAprobarResponse"/>
</operation>
<operation name="getSegurosPorAprobar">
<input wsam:Action="http://services/Servicios/getSegurosPorAprobarRequest" message="tns:getSegurosPorAprobar"/>
<output wsam:Action="http://services/Servicios/getSegurosPorAprobarResponse" message="tns:getSegurosPorAprobarResponse"/>
</operation>
<operation name="aprobarPrestamo">
<input wsam:Action="http://services/Servicios/aprobarPrestamoRequest" message="tns:aprobarPrestamo"/>
<output wsam:Action="http://services/Servicios/aprobarPrestamoResponse" message="tns:aprobarPrestamoResponse"/>
</operation>
<operation name="aprobarSeguro">
<input wsam:Action="http://services/Servicios/aprobarSeguroRequest" message="tns:aprobarSeguro"/>
<output wsam:Action="http://services/Servicios/aprobarSeguroResponse" message="tns:aprobarSeguroResponse"/>
</operation>
<operation name="getIdTipoTrans">
<input wsam:Action="http://services/Servicios/getIdTipoTransRequest" message="tns:getIdTipoTrans"/>
<output wsam:Action="http://services/Servicios/getIdTipoTransResponse" message="tns:getIdTipoTransResponse"/>
</operation>
<operation name="depositoInicial">
<input wsam:Action="http://services/Servicios/depositoInicialRequest" message="tns:depositoInicial"/>
<output wsam:Action="http://services/Servicios/depositoInicialResponse" message="tns:depositoInicialResponse"/>
</operation>
<operation name="getInfoTipoPrestamo">
<input wsam:Action="http://services/Servicios/getInfoTipoPrestamoRequest" message="tns:getInfoTipoPrestamo"/>
<output wsam:Action="http://services/Servicios/getInfoTipoPrestamoResponse" message="tns:getInfoTipoPrestamoResponse"/>
</operation>
<operation name="getTiposSeguro">
<input wsam:Action="http://services/Servicios/getTiposSeguroRequest" message="tns:getTiposSeguro"/>
<output wsam:Action="http://services/Servicios/getTiposSeguroResponse" message="tns:getTiposSeguroResponse"/>
</operation>
<operation name="getDesgloseTipoPrestamo">
<input wsam:Action="http://services/Servicios/getDesgloseTipoPrestamoRequest" message="tns:getDesgloseTipoPrestamo"/>
<output wsam:Action="http://services/Servicios/getDesgloseTipoPrestamoResponse" message="tns:getDesgloseTipoPrestamoResponse"/>
</operation>
<operation name="getPrestamosAAprobar">
<input wsam:Action="http://services/Servicios/getPrestamosAAprobarRequest" message="tns:getPrestamosAAprobar"/>
<output wsam:Action="http://services/Servicios/getPrestamosAAprobarResponse" message="tns:getPrestamosAAprobarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services/Servicios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/Servicios/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Registro">
<input wsam:Action="http://services/Servicios/RegistroRequest" message="tns:Registro"/>
<output wsam:Action="http://services/Servicios/RegistroResponse" message="tns:RegistroResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://services/Servicios/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://services/Servicios/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="ConfirmarCuenta">
<input wsam:Action="http://services/Servicios/ConfirmarCuentaRequest" message="tns:ConfirmarCuenta"/>
<output wsam:Action="http://services/Servicios/ConfirmarCuentaResponse" message="tns:ConfirmarCuentaResponse"/>
</operation>
<operation name="RealizarTransaccion">
<input wsam:Action="http://services/Servicios/RealizarTransaccionRequest" message="tns:RealizarTransaccion"/>
<output wsam:Action="http://services/Servicios/RealizarTransaccionResponse" message="tns:RealizarTransaccionResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="VerInfoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdsTipoSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdsEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdsTipoPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdsTipoTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdsBancos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCuentasUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pagarPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pagarSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfoPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfoSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferirSaldoLocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransaccionesCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfoTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrestamosPorAprobar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSegurosPorAprobar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aprobarPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aprobarSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdTipoTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositoInicial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfoTipoPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTiposSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDesgloseTipoPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrestamosAAprobar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConfirmarCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RealizarTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://10.42.0.66:8080/Servicios/Servicios"/>
</port>
</service>
</definitions>